nodered-data/.flows.json.backup
[{"id":"117f088e.84eb97","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cd5463d1.62eb78","type":"influxdb","hostname":"influx","port":"8086","protocol":"http","database":"firstdb","name":"influx docker","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influx-spc:8086/","rejectUnauthorized":false},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"1e7c3760.240cb9","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"d3163521e4a032ad","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.200.10.186","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"CEL86 - PLC Master","vartable":[{"addr":"DB811,R0","name":"Caudal_CIR_1"},{"addr":"DB811,R4","name":"Caudal_CIR_1_Min"},{"addr":"DB811,R8","name":"Caudal_CIR_1_Max"},{"addr":"DB811,R12","name":"Caudal_CIR_2"},{"addr":"DB811,R16","name":"Caudal_CIR_2_Min"},{"addr":"DB811,R20","name":"Caudal_CIR_2_Max"},{"addr":"DB811,R24","name":"Caudal_CIR_3"},{"addr":"DB811,R28","name":"Caudal_CIR_3_Min"},{"addr":"DB811,R32","name":"Caudal_CIR_3_Max"},{"addr":"DB811,R36","name":"Caudal_CIR_4"},{"addr":"DB811,R40","name":"Caudal_CIR_4_Min"},{"addr":"DB811,R44","name":"Caudal_CIR_4_Max"},{"addr":"DB811,R48","name":"Caudal_CIR_5"},{"addr":"DB811,R52","name":"Caudal_CIR_5_Min"},{"addr":"DB811,R56","name":"Caudal_CIR_5_Max"},{"addr":"DB811,R60","name":"Caudal_CIR_6"},{"addr":"DB811,R64","name":"Caudal_CIR_6_Min"},{"addr":"DB811,R68","name":"Caudal_CIR_6_Max"},{"addr":"DB811,R72","name":"Caudal_CIR_7"},{"addr":"DB811,R76","name":"Caudal_CIR_7_Min"},{"addr":"DB811,R80","name":"Caudal_CIR_7_Max"},{"addr":"DB811,R84","name":"Caudal_CIR_8"},{"addr":"DB811,R88","name":"Caudal_CIR_8_Min"},{"addr":"DB811,R92","name":"Caudal_CIR_8_Max"},{"addr":"DB811,R96","name":"Caudal_CIR_9"},{"addr":"DB811,R100","name":"Caudal_CIR_9_Min"},{"addr":"DB811,R104","name":"Caudal_CIR_9_Max"},{"addr":"DB811,R108","name":"Caudal_CIR_10"},{"addr":"DB811,R112","name":"Caudal_CIR_10_Min"},{"addr":"DB811,R116","name":"Caudal_CIR_10_Max"},{"addr":"DB811,R120","name":"Caudal_CIR_11"},{"addr":"DB811,R124","name":"Caudal_CIR_11_Min"},{"addr":"DB811,R128","name":"Caudal_CIR_11_Max"},{"addr":"DB811,R132","name":"Caudal_CIR_12"},{"addr":"DB811,R136","name":"Caudal_CIR_12_Min"},{"addr":"DB811,R140","name":"Caudal_CIR_12_Max"},{"addr":"DB811,R144","name":"Caudal_CIR_13"},{"addr":"DB811,R148","name":"Caudal_CIR_13_Min"},{"addr":"DB811,R152","name":"Caudal_CIR_13_Max"},{"addr":"DB811,R156","name":"Caudal_CIR_14"},{"addr":"DB811,R160","name":"Caudal_CIR_14_Min"},{"addr":"DB811,R164","name":"Caudal_CIR_14_Max"},{"addr":"DB811,R168","name":"Caudal_CIR_15"},{"addr":"DB811,R172","name":"Caudal_CIR_15_Min"},{"addr":"DB811,R176","name":"Caudal_CIR_15_Max"},{"addr":"DB811,R180","name":"Caudal_CIR_16"},{"addr":"DB811,R184","name":"Caudal_CIR_16_Min"},{"addr":"DB811,R188","name":"Caudal_CIR_16_Max"},{"addr":"DB811,R192","name":"Caudal_CIR_17"},{"addr":"DB811,R196","name":"Caudal_CIR_17_Min"},{"addr":"DB811,R200","name":"Caudal_CIR_17_Max"},{"addr":"DB811,R204","name":"Caudal_CIR_18"},{"addr":"DB811,R208","name":"Caudal_CIR_18_Min"},{"addr":"DB811,R212","name":"Caudal_CIR_18_Max"},{"addr":"DB811,R216","name":"Caudal_CIR_19"},{"addr":"DB811,R220","name":"Caudal_CIR_19_Min"},{"addr":"DB811,R224","name":"Caudal_CIR_19_Max"},{"addr":"DB811,R228","name":"Temp_CIR_1"},{"addr":"DB811,R232","name":"Temp_CIR_1_Min"},{"addr":"DB811,R236","name":"Temp_CIR_1_Max"},{"addr":"DB811,R240","name":"Temp_CIR_2"},{"addr":"DB811,R244","name":"Temp_CIR_2_Min"},{"addr":"DB811,R248","name":"Temp_CIR_2_Max"},{"addr":"DB811,R252","name":"Temp_CIR_3"},{"addr":"DB811,R256","name":"Temp_CIR_3_Min"},{"addr":"DB811,R260","name":"Temp_CIR_3_Max"},{"addr":"DB811,R264","name":"Temp_CIR_4"},{"addr":"DB811,R268","name":"Temp_CIR_4_Min"},{"addr":"DB811,R272","name":"Temp_CIR_4_Max"},{"addr":"DB811,R276","name":"Temp_CIR_5"},{"addr":"DB811,R280","name":"Temp_CIR_5_Min"},{"addr":"DB811,R284","name":"Temp_CIR_5_Max"},{"addr":"DB811,R288","name":"Temp_CIR_6"},{"addr":"DB811,R292","name":"Temp_CIR_6_Min"},{"addr":"DB811,R296","name":"Temp_CIR_6_Max"},{"addr":"DB811,R300","name":"Temp_CIR_7"},{"addr":"DB811,R304","name":"Temp_CIR_7_Min"},{"addr":"DB811,R308","name":"Temp_CIR_7_Max"},{"addr":"DB811,R312","name":"Temp_CIR_8"},{"addr":"DB811,R316","name":"Temp_CIR_8_Min"},{"addr":"DB811,R320","name":"Temp_CIR_8_Max"},{"addr":"DB811,R324","name":"Temp_CIR_9"},{"addr":"DB811,R328","name":"Temp_CIR_9_Min"},{"addr":"DB811,R332","name":"Temp_CIR_9_Max"},{"addr":"DB811,R336","name":"Temp_CIR_10"},{"addr":"DB811,R340","name":"Temp_CIR_10_Min"},{"addr":"DB811,R344","name":"Temp_CIR_10_Max"},{"addr":"DB811,R348","name":"Temp_CIR_11"},{"addr":"DB811,R352","name":"Temp_CIR_11_Min"},{"addr":"DB811,R356","name":"Temp_CIR_11_Max"},{"addr":"DB811,R360","name":"Temp_CIR_12"},{"addr":"DB811,R364","name":"Temp_CIR_12_Min"},{"addr":"DB811,R368","name":"Temp_CIR_12_Max"},{"addr":"DB811,R372","name":"Temp_CIR_13"},{"addr":"DB811,R376","name":"Temp_CIR_13_Min"},{"addr":"DB811,R380","name":"Temp_CIR_13_Max"},{"addr":"DB811,R384","name":"Temp_CIR_14"},{"addr":"DB811,R388","name":"Temp_CIR_14_Min"},{"addr":"DB811,R392","name":"Temp_CIR_14_Max"},{"addr":"DB811,R396","name":"Temp_CIR_15"},{"addr":"DB811,R400","name":"Temp_CIR_15_Min"},{"addr":"DB811,R404","name":"Temp_CIR_15_Max"},{"addr":"DB811,R408","name":"Temp_CIR_16"},{"addr":"DB811,R412","name":"Temp_CIR_16_Min"},{"addr":"DB811,R416","name":"Temp_CIR_16_Max"},{"addr":"DB811,R420","name":"Temp_CIR_17"},{"addr":"DB811,R424","name":"Temp_CIR_17_Min"},{"addr":"DB811,R428","name":"Temp_CIR_17_Max"},{"addr":"DB811,R432","name":"Temp_CIR_18"},{"addr":"DB811,R436","name":"Temp_CIR_18_Min"},{"addr":"DB811,R440","name":"Temp_CIR_18_Max"},{"addr":"DB811,R444","name":"Temp_CIR_19"},{"addr":"DB811,R448","name":"Temp_CIR_19_Min"},{"addr":"DB811,R452","name":"Temp_CIR_19_Max"},{"addr":"DB811,R456","name":"Caudal_AT1_CIR_1"},{"addr":"DB811,R460","name":"Caudal_AT1_CIR_1_Min"},{"addr":"DB811,R464","name":"Caudal_AT1_CIR_1_Max"},{"addr":"DB811,R468","name":"Caudal_AT1_CIR_2"},{"addr":"DB811,R472","name":"Caudal_AT1_CIR_2_Min"},{"addr":"DB811,R476","name":"Caudal_AT1_CIR_2_Max"},{"addr":"DB811,R480","name":"Caudal_AT2_CIR_1"},{"addr":"DB811,R484","name":"Caudal_AT2_CIR_1_Min"},{"addr":"DB811,R488","name":"Caudal_AT2_CIR_1_Max"},{"addr":"DB811,R492","name":"Caudal_AT2_CIR_2"},{"addr":"DB811,R496","name":"Caudal_AT2_CIR_2_Min"},{"addr":"DB811,R500","name":"Caudal_AT2_CIR_2_Max"},{"addr":"DB811,R504","name":"Caudal_AT3_CIR_1"},{"addr":"DB811,R508","name":"Caudal_AT3_CIR_1_Min"},{"addr":"DB811,R512","name":"Caudal_AT3_CIR_1_Max"},{"addr":"DB811,R516","name":"Caudal_AT3_CIR_2"},{"addr":"DB811,R520","name":"Caudal_AT3_CIR_2_Min"},{"addr":"DB811,R524","name":"Caudal_AT3_CIR_2_Max"},{"addr":"DB811,R528","name":"Caudal_AT4_CIR_1"},{"addr":"DB811,R532","name":"Caudal_AT4_CIR_1_Min"},{"addr":"DB811,R536","name":"Caudal_AT4_CIR_1_Max"},{"addr":"DB811,R540","name":"Caudal_AT4_CIR_2"},{"addr":"DB811,R544","name":"Caudal_AT4_CIR_2_Min"},{"addr":"DB811,R548","name":"Caudal_AT4_CIR_2_Max"},{"addr":"DB817,I0","name":"Temp_Envio_AT1_CIR_1_Nom"},{"addr":"DB817,I2","name":"Temp_Envio_AT1_CIR_1"},{"addr":"DB817,I4","name":"Temp_Envio_AT1_CIR_2_Nom"},{"addr":"DB817,I6","name":"Temp_Envio_AT1_CIR_2"},{"addr":"DB817,I8","name":"Temp_Envio_AT2_CIR_1_Nom"},{"addr":"DB817,I10","name":"Temp_Envio_AT2_CIR_1"},{"addr":"DB817,I12","name":"Temp_Envio_AT2_CIR_2_Nom"},{"addr":"DB817,I14","name":"Temp_Envio_AT2_CIR_2"},{"addr":"DB817,I16","name":"Temp_Envio_AT3_CIR_1_Nom"},{"addr":"DB817,I18","name":"Temp_Envio_AT3_CIR_1"},{"addr":"DB817,I20","name":"Temp_Envio_AT3_CIR_2_Nom"},{"addr":"DB817,I22","name":"Temp_Envio_AT3_CIR_2"},{"addr":"DB817,I24","name":"Temp_Envio_AT4_CIR_1_Nom"},{"addr":"DB817,I26","name":"Temp_Envio_AT4_CIR_1"},{"addr":"DB817,I28","name":"Temp_Envio_AT4_CIR_2_Nom"},{"addr":"DB817,I30","name":"Temp_Envio_AT4_CIR_2"},{"addr":"DB817,I32","name":"Temp_Retorno_AT1_CIR_1"},{"addr":"DB817,I34","name":"Temp_Retorno_AT1_CIR_2"},{"addr":"DB817,I36","name":"Temp_Retorno_AT2_CIR_1"},{"addr":"DB817,I38","name":"Temp_Retorno_AT2_CIR_2"},{"addr":"DB817,I40","name":"Temp_Retorno_AT3_CIR_1"},{"addr":"DB817,I42","name":"Temp_Retorno_AT3_CIR_2"},{"addr":"DB817,I44","name":"Temp_Retorno_AT4_CIR_1"},{"addr":"DB817,I46","name":"Temp_Retorno_AT4_CIR_2"},{"addr":"DB812,R0","name":"Flow_CIR_1"},{"addr":"DB812,R4","name":"Flow_CIR_1_Min"},{"addr":"DB812,R8","name":"Flow_CIR_1_Max"},{"addr":"DB812,R12","name":"Flow_CIR_2"},{"addr":"DB812,R16","name":"Flow_CIR_2_Min"},{"addr":"DB812,R20","name":"Flow_CIR_2_Max"},{"addr":"DB812,R24","name":"Flow_CIR_3"},{"addr":"DB812,R28","name":"Flow_CIR_3_Min"},{"addr":"DB812,R32","name":"Flow_CIR_3_Max"},{"addr":"DB812,R36","name":"Flow_CIR_4"},{"addr":"DB812,R40","name":"Flow_CIR_4_Min"},{"addr":"DB812,R44","name":"Flow_CIR_4_Max"},{"addr":"DB813,R0","name":"Temp_Cuba"},{"addr":"DB815,D0","name":"Tiempo_Ciclo"},{"addr":"DB815,I4","name":"Caudal_Piston"},{"addr":"DB815,I6","name":"Caudal_Piston_Min"},{"addr":"DB815,I8","name":"Caudal_Piston_Max"},{"addr":"DB815,I10","name":"Temp_Piston"},{"addr":"DB815,I12","name":"Temp_Piston_Min"},{"addr":"DB815,I14","name":"Temp_Piston_Max"},{"addr":"DB816,R0","name":"Temp_Horno"},{"addr":"DB816,R4","name":"Temp_Horno_Nom"},{"addr":"DB814,X0.0","name":"Inyectada"},{"addr":"DB814,W84","name":"Fecha"},{"addr":"DB814,DW80","name":"Hora"},{"addr":"DB814,DTZ88","name":"FechaHora"},{"addr":"DB830,R16","name":"Pres_Entrada_Agua_Maquina"},{"addr":"DB830,R20","name":"Temp_Entrada_Agua_Maquina"},{"addr":"DB830,R0","name":"Pres_Retorno_Agua_Molde"},{"addr":"DB830,R8","name":"Pres_Retorno_Agua_Maquina"},{"addr":"DB830,R32","name":"Temp_Deposito_Lubrif"},{"addr":"DB815,R88","name":"Vel_1a_Fase_Media"},{"addr":"DB815,R92","name":"Vel_1a_Fase_Media_Max"},{"addr":"DB815,R96","name":"Vel_1a_Fase_Media_Min"},{"addr":"DB815,R100","name":"Vel_2a_Fase_Media"},{"addr":"DB815,R108","name":"Vel_2a_Fase_Media_Min"},{"addr":"DB815,R104","name":"Vel_2a_Fase_Media_Max"},{"addr":"DB815,R112","name":"Vel_2a_Fase_Maxima"},{"addr":"DB815,R60","name":"Pres_Maxima_Mult"},{"addr":"DB815,R68","name":"Pres_Maxima_Mult_Min"},{"addr":"DB815,R64","name":"Pres_Maxima_Mult_Max"},{"addr":"DB815,R36","name":"Pres_Final_Mult"},{"addr":"DB815,R44","name":"Pres_Final_Mult_Min"},{"addr":"DB815,R40","name":"Pres_Final_Mult_Max"},{"addr":"DB815,R72","name":"Tiempo_Subida_RT"},{"addr":"DB815,R80","name":"Tiempo_Subida_RT_Min"},{"addr":"DB815,R76","name":"Tiempo_Subida_RT_Max"},{"addr":"DB815,R16","name":"Grueso_Colada"},{"addr":"DB815,D24","name":"Grueso_Colada_Min"},{"addr":"DB815,D20","name":"Grueso_Colada_Max"},{"addr":"DB830,R24","name":"Pres_Entrada_Aire"},{"addr":"DB830,R28","name":"Temp_Pieza"},{"addr":"DB818,I0","name":"Temp_Cam1_Punto01_Pre"},{"addr":"DB818,I40","name":"Temp_Cam1_Punto01_Post"},{"addr":"DB818,I2","name":"Temp_Cam1_Punto02_Pre"},{"addr":"DB818,I42","name":"Temp_Cam1_Punto02_Post"},{"addr":"DB818,I4","name":"Temp_Cam1_Punto03_Pre"},{"addr":"DB818,I44","name":"Temp_Cam1_Punto03_Post"},{"addr":"DB818,I6","name":"Temp_Cam1_Punto04_Pre"},{"addr":"DB818,I46","name":"Temp_Cam1_Punto04_Post"},{"addr":"DB818,I8","name":"Temp_Cam1_Punto05_Pre"},{"addr":"DB818,I48","name":"Temp_Cam1_Punto05_Post"},{"addr":"DB818,I10","name":"Temp_Cam1_Punto06_Pre"},{"addr":"DB818,I50","name":"Temp_Cam1_Punto06_Post"},{"addr":"DB818,I12","name":"Temp_Cam1_Punto07_Pre"},{"addr":"DB818,I52","name":"Temp_Cam1_Punto07_Post"},{"addr":"DB818,I14","name":"Temp_Cam1_Punto08_Pre"},{"addr":"DB818,I54","name":"Temp_Cam1_Punto08_Post"},{"addr":"DB818,I16","name":"Temp_Cam1_Punto09_Pre"},{"addr":"DB818,I56","name":"Temp_Cam1_Punto09_Post"},{"addr":"DB818,I18","name":"Temp_Cam1_Punto10_Pre"},{"addr":"DB818,I58","name":"Temp_Cam1_Punto10_Post"},{"addr":"DB818,I20","name":"Temp_Cam2_Punto01_Pre"},{"addr":"DB818,I60","name":"Temp_Cam2_Punto01_Post"},{"addr":"DB818,I22","name":"Temp_Cam2_Punto02_Pre"},{"addr":"DB818,I62","name":"Temp_Cam2_Punto02_Post"},{"addr":"DB818,I24","name":"Temp_Cam2_Punto03_Pre"},{"addr":"DB818,I64","name":"Temp_Cam2_Punto03_Post"},{"addr":"DB818,I26","name":"Temp_Cam2_Punto04_Pre"},{"addr":"DB818,I66","name":"Temp_Cam2_Punto04_Post"},{"addr":"DB818,I28","name":"Temp_Cam2_Punto05_Pre"},{"addr":"DB818,I68","name":"Temp_Cam2_Punto05_Post"},{"addr":"DB818,I30","name":"Temp_Cam2_Punto06_Pre"},{"addr":"DB818,I70","name":"Temp_Cam2_Punto06_Post"},{"addr":"DB818,I32","name":"Temp_Cam2_Punto07_Pre"},{"addr":"DB818,I72","name":"Temp_Cam2_Punto07_Post"},{"addr":"DB818,I34","name":"Temp_Cam2_Punto08_Pre"},{"addr":"DB818,I74","name":"Temp_Cam2_Punto08_Post"},{"addr":"DB818,I36","name":"Temp_Cam2_Punto09_Pre"},{"addr":"DB818,I76","name":"Temp_Cam2_Punto09_Post"},{"addr":"DB818,I38","name":"Temp_Cam2_Punto10_Pre"},{"addr":"DB818,I78","name":"Temp_Cam2_Punto10_Post"},{"addr":"DB815,I144","name":"Pres_Aceite_Maquina_Pre"},{"addr":"DB815,I146","name":"Pres_Aceite_Maquina_Post"},{"addr":"DB815,I148","name":"Pres_Aceite_Mult_Pre"},{"addr":"DB815,I150","name":"Pres_Aceite_Mult_Post"},{"addr":"DB815,I152","name":"Pres_Bomba_Maquina"},{"addr":"DB815,I154","name":"Temp_Aceite_Maquina"},{"addr":"DB815,I160","name":"Pres_Bomba_Cierre"},{"addr":"DB815,R120","name":"Vel_2a_Fase_Maxima_Min"},{"addr":"DB815,R116","name":"Vel_2a_Fase_Maxima_Max"},{"addr":"DB120,R0","name":"Estado_CEL"},{"addr":"DB120,DW12","name":"Cel_Counter_OK"}]},{"id":"5d7e54ca.019d44","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"2.0","url":"https://localhost:9999","rejectUnauthorized":false},{"id":"6ca8bde.9eb2f44","type":"influxdb","hostname":"localhost","port":"8086","protocol":"https","database":"new_db","name":"","usetls":true,"tls":"f7f39f4e.896ae","influxdbVersion":"1.x"},{"id":"f7f39f4e.896ae","type":"tls-config","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"0e8fdcb0285b566e","type":"comment","z":"117f088e.84eb97","name":"WEB CLIENT","info":"","x":1630,"y":20,"wires":[]},{"id":"18a2ebada7db7b07","type":"comment","z":"117f088e.84eb97","name":"Pipeline de datos","info":"","x":280,"y":60,"wires":[]},{"id":"acb5d7f7c58aeaad","type":"comment","z":"117f088e.84eb97","name":"MACHINE LEARNING","info":"","x":580,"y":560,"wires":[]},{"id":"842399b7a38467cd","type":"exec","z":"117f088e.84eb97","command":"python3","addpay":"","append":"/data/models/scripts/anomaly.py","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Anomaly","x":640,"y":680,"wires":[["25b8e16388294a13"],["25b8e16388294a13"],[]]},{"id":"b2f9a5dac6b299e5","type":"inject","z":"117f088e.84eb97","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":680,"wires":[["842399b7a38467cd"]]},{"id":"25b8e16388294a13","type":"debug","z":"117f088e.84eb97","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":680,"wires":[]},{"id":"ee32972634a2191c","type":"uibuilder","z":"117f088e.84eb97","name":"","topic":"","url":"navbar","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"templateFolder":"external","extTemplate":"unborn-andy/uib-template-vue-navbar","showfolder":false,"reload":false,"sourceFolder":"dist","deployedVersion":"5.0.2","x":1720,"y":160,"wires":[["ed5cd2db330ee339"],[]]},{"id":"2561abb93c49df1c","type":"s7 in","z":"117f088e.84eb97","endpoint":"d3163521e4a032ad","mode":"all","variable":"Inyectada","diff":true,"name":"","x":170,"y":300,"wires":[["ce9a9779e66caad4","90a8b0b7305f1b1a","3ce78b4ae1361067"]]},{"id":"9ea243d969af9a5e","type":"function","z":"117f088e.84eb97","name":"Preprocesado Infux","func":"\nvar mediciones = []\n\nvar signals = ['Caudal_Piston', 'Flow_CIR_1', 'Flow_CIR_2', 'Flow_CIR_3', 'Grueso_Colada', 'Pres_Entrada_Agua_Maquina', 'Pres_Entrada_Aire', 'Pres_Final_Mult', 'Pres_Maxima_Mult', 'Pres_Retorno_Agua_Maquina', 'Pres_Retorno_Agua_Molde', 'Temp_Cuba', 'Temp_Horno', 'Tiempo_Subida_RT', 'Vel_1a_Fase_Media', 'Vel_2a_Fase_Maxima', 'Vel_2a_Fase_Media']\n\n\nvar signal_index = {}\nlet i = 0;\n\nsignals.forEach(med => {\n    let med_index = msg.payload.forecasting.signal_index[med]\n    let medicion = {\n        measurement: \"sensores\",\n        tags: {\n            molde: 'MT201',\n            medicion: med\n        },\n        fields: {\n            value: msg.payload.sensores.payload[med],\n            value_min: msg.payload.sensores.payload[med+\"_Min\"],\n            value_max: msg.payload.sensores.payload[med+\"_Max\"],\n            inyectada: msg.payload.sensores.payload.Inyectada,\n            cel_state: msg.payload.sensores.payload.Estado_CEL,\n            anomalia: msg.payload.anomalia.payload[0],\n            forecast_1: msg.payload.forecasting.payload[0][med_index],\n            forecast_10: msg.payload.forecasting.payload[9][med_index],\n            forecast_15: msg.payload.forecasting.payload[14][med_index],\n            forecast_20: msg.payload.forecasting.payload[19][med_index],\n            // time: new Date(msg.payload.sensores.payload.FechaHora).valueOf()\n        },\n        timestamp: new Date(msg.payload.sensores.payload.FechaHora)\n    }\n    signal_index[med] = i;\n    mediciones.push(medicion)\n    i += 1;\n})\nmsg.precision = 'ms'\nmsg.signal_index = signal_index\nmsg.inyectada = msg.payload.Inyectada\nmsg.celstate = msg.payload.Estado_CEL;\nmsg.cel_counter_ok = msg.payload.Cel_Counter_OK;\n// msg.prediccion = \"prueba\";\nmsg.topic = \"sensores\"\nmsg.payload = mediciones;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":280,"wires":[["8ad7b55607f1dda9","97824e86a522db4b"]]},{"id":"1c8e91a52a370385","type":"uib-sender","z":"117f088e.84eb97","url":"navbar","name":"Web","topic":"timestep","passthrough":true,"return":false,"outputs":1,"x":1250,"y":200,"wires":[[]]},{"id":"746b63f278ad1976","type":"uib-cache","z":"117f088e.84eb97","cacheall":false,"cacheKey":"topic","num":"4","storeName":"memory","name":"","x":1050,"y":200,"wires":[["1c8e91a52a370385"]]},{"id":"ce9a9779e66caad4","type":"function","z":"117f088e.84eb97","name":"features","func":"\nlet elems = ['Caudal_Piston', 'Flow_CIR_1', 'Flow_CIR_2', 'Flow_CIR_3', 'Grueso_Colada', 'Pres_Entrada_Agua_Maquina', 'Pres_Entrada_Aire', 'Pres_Final_Mult', 'Pres_Maxima_Mult', 'Pres_Retorno_Agua_Maquina', 'Pres_Retorno_Agua_Molde', 'Temp_Cuba', 'Temp_Horno', 'Tiempo_Subida_RT', 'Vel_1a_Fase_Media', 'Vel_2a_Fase_Maxima', 'Vel_2a_Fase_Media']\nlet signal_index = {}\n\nlet features = {}\nfeatures[\"_time\"] = msg.payload.FechaHora\n\nlet i = 0;\nelems.forEach(med => {\n    signal_index[med] = i;\n    features[med] = [msg.payload[med]]\n    i++;\n})\n\nmsg.signal_index = signal_index;\nmsg.timestamp = msg.payload.FechaHora\nmsg.payload = features;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":160,"wires":[["2c3317513cfca12c","261d2b0192e52df7"]]},{"id":"2c3317513cfca12c","type":"predictor","z":"117f088e.84eb97","name":"anomaly","modelPath":"/data/models/models","modelName":"anomaly.sav","x":440,"y":200,"wires":[["d18f4a3adf133a26"],[]]},{"id":"d18f4a3adf133a26","type":"function","z":"117f088e.84eb97","name":"topic","func":"msg.topic=\"anomalia\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":200,"wires":[["0034e92063f29cb7"]]},{"id":"ca7d066449c68345","type":"image viewer","z":"117f088e.84eb97","name":"","width":"800","data":"payload","dataType":"msg","active":true,"x":850,"y":760,"wires":[[]]},{"id":"fa50e2d90562124a","type":"jimp-image","z":"117f088e.84eb97","name":"Anomaly model","data":"/data/models/images/anomaly.png","dataType":"str","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":640,"y":760,"wires":[["ca7d066449c68345"]]},{"id":"9ab9c7bee4e1f7bd","type":"complete","z":"117f088e.84eb97","name":"","scope":["842399b7a38467cd"],"uncaught":false,"x":410,"y":740,"wires":[["fa50e2d90562124a"]]},{"id":"f656552e721a9ce2","type":"inject","z":"117f088e.84eb97","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":780,"wires":[["fa50e2d90562124a"]]},{"id":"e588475729e50705","type":"inject","z":"117f088e.84eb97","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":900,"wires":[["1c47d2654e6d9da7"]]},{"id":"1c47d2654e6d9da7","type":"exec","z":"117f088e.84eb97","command":"python3","addpay":"","append":"/data/models/scripts/forecasting.py","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Forecasting","x":590,"y":900,"wires":[["1d02c44f223e8a90"],["1d02c44f223e8a90"],[]]},{"id":"1d02c44f223e8a90","type":"debug","z":"117f088e.84eb97","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":900,"wires":[]},{"id":"60ff44ccc1bde56c","type":"image viewer","z":"117f088e.84eb97","name":"","width":"800","data":"payload","dataType":"msg","active":true,"x":890,"y":1000,"wires":[[]]},{"id":"3673908fb5f1f0b3","type":"jimp-image","z":"117f088e.84eb97","name":"Forecasting model","data":"/data/uibuilder/navbar/src/images/forecasting_test.png","dataType":"str","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":690,"y":1000,"wires":[["60ff44ccc1bde56c"]]},{"id":"17116d1d36300da4","type":"complete","z":"117f088e.84eb97","name":"","scope":["1c47d2654e6d9da7"],"uncaught":false,"x":450,"y":980,"wires":[["3673908fb5f1f0b3"]]},{"id":"6f64f1c595bbf050","type":"inject","z":"117f088e.84eb97","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":460,"y":1020,"wires":[["3673908fb5f1f0b3"]]},{"id":"bfa8f86b4206d715","type":"function","z":"117f088e.84eb97","name":"topic","func":"msg.topic=\"forecasting\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":120,"wires":[["0034e92063f29cb7"]]},{"id":"642ba99000bf4e27","type":"http in","z":"117f088e.84eb97","name":"","url":"/api/med","method":"get","upload":false,"swaggerDoc":"","x":1890,"y":340,"wires":[["022010f10314d6e9"]]},{"id":"022010f10314d6e9","type":"influxdb in","z":"117f088e.84eb97","influxdb":"cd5463d1.62eb78","name":"","query":"from(bucket: \"cel86\")\n  |> range(start: -30s)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"sensores\")\n  |> filter(fn: (r) => r[\"molde\"] == \"MT201\")\n  |> filter(fn: (r) => r._field == \"value\")\n  |> pivot(rowKey:[\"_time\"], columnKey: [\"medicion\"], valueColumn: \"_value\")\n  |> drop(columns: [\"_start\", \"_stop\", \"_field\", \"_measurement\", \"molde\"])","rawOutput":false,"precision":"","retentionPolicy":"","org":"cie","x":2090,"y":340,"wires":[["30f98a4ea80368b4"]]},{"id":"30f98a4ea80368b4","type":"json","z":"117f088e.84eb97","name":"","property":"payload","action":"","pretty":false,"x":2290,"y":340,"wires":[["bd8a104fc5eecf46"]]},{"id":"bd8a104fc5eecf46","type":"http response","z":"117f088e.84eb97","name":"","statusCode":"200","headers":{},"x":2460,"y":340,"wires":[]},{"id":"1634a73445214e32","type":"influxdb in","z":"117f088e.84eb97","influxdb":"cd5463d1.62eb78","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"cie","x":2210,"y":160,"wires":[["a0fbd208e06a79e8"]]},{"id":"a0fbd208e06a79e8","type":"json","z":"117f088e.84eb97","name":"","property":"payload","action":"","pretty":false,"x":2390,"y":160,"wires":[["f5d5a6d9ba90689d","817ca7c0742c15fe"]]},{"id":"f5d5a6d9ba90689d","type":"debug","z":"117f088e.84eb97","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2470,"y":100,"wires":[]},{"id":"817ca7c0742c15fe","type":"uib-sender","z":"117f088e.84eb97","url":"navbar","name":"","topic":"","passthrough":false,"return":false,"outputs":0,"x":2570,"y":160,"wires":[]},{"id":"d71d89ab13e9d9af","type":"debug","z":"117f088e.84eb97","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2030,"y":80,"wires":[]},{"id":"ed5cd2db330ee339","type":"function","z":"117f088e.84eb97","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":160,"wires":[["d71d89ab13e9d9af","1634a73445214e32"]]},{"id":"0034e92063f29cb7","type":"join","z":"117f088e.84eb97","name":"","mode":"custom","build":"object","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"15","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":810,"y":200,"wires":[["746b63f278ad1976","e304907dad2eec67","f5c31784e86b71fd"]]},{"id":"90a8b0b7305f1b1a","type":"function","z":"117f088e.84eb97","name":"topic","func":"\n\nlet elems = ['Caudal_Piston', 'Flow_CIR_1', 'Flow_CIR_2', 'Flow_CIR_3', 'Grueso_Colada', 'Pres_Entrada_Agua_Maquina', 'Pres_Entrada_Aire', 'Pres_Final_Mult', 'Pres_Maxima_Mult', 'Pres_Retorno_Agua_Maquina', 'Pres_Retorno_Agua_Molde', 'Temp_Cuba', 'Temp_Horno', 'Tiempo_Subida_RT', 'Vel_1a_Fase_Media', 'Vel_2a_Fase_Maxima', 'Vel_2a_Fase_Media']\n\nmsg.signal_index = elems;\nmsg.topic = \"sensores\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":300,"wires":[["0034e92063f29cb7"]]},{"id":"9a70c6659e14386b","type":"uibuilder","z":"117f088e.84eb97","name":"","topic":"","url":"vue-app","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"templateFolder":"blank","extTemplate":"","showfolder":false,"reload":false,"sourceFolder":"dist","deployedVersion":"5.0.2","x":1730,"y":260,"wires":[[],[]]},{"id":"8ad7b55607f1dda9","type":"influxdb batch","z":"117f088e.84eb97","influxdb":"cd5463d1.62eb78","precision":"","retentionPolicy":"","name":"InfluxDB","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"cie","bucket":"cel86","x":1320,"y":280,"wires":[]},{"id":"e304907dad2eec67","type":"debug","z":"117f088e.84eb97","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":140,"wires":[]},{"id":"3ce78b4ae1361067","type":"debug","z":"117f088e.84eb97","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":360,"wires":[]},{"id":"97824e86a522db4b","type":"debug","z":"117f088e.84eb97","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1310,"y":380,"wires":[]},{"id":"f5c31784e86b71fd","type":"moment","z":"117f088e.84eb97","name":"format","topic":"","input":"payload.sensores.payload.FechaHora","inputType":"msg","inTz":"Europe/Madrid","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"POSIX","output":"payload.sensores.payload.FechaHora","outputType":"msg","outTz":"Europe/Madrid","x":930,"y":280,"wires":[["9ea243d969af9a5e"]]},{"id":"261d2b0192e52df7","type":"predictorkeras","z":"117f088e.84eb97","name":"forecasting","modelPath":"/data/models/models","modelName":"forecasting.h5","x":470,"y":120,"wires":[["bfa8f86b4206d715","3e90a3ae3025c430"],[]]},{"id":"3e90a3ae3025c430","type":"debug","z":"117f088e.84eb97","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":80,"wires":[]}]