nodered-data/.flows.json.backup
[{"id":"117f088e.84eb97","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"78f91524ad5c5f5b","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"821ed147.a04a9","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"4dd0f326.b84a24","type":"influxdb","hostname":"127.0.0.1","port":"12447","protocol":"http","database":"firstdb","name":"influx host","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influx-qbee:8086","rejectUnauthorized":true},{"id":"cd5463d1.62eb78","type":"influxdb","hostname":"influx","port":"8086","protocol":"http","database":"firstdb","name":"influx docker","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influx-spc:8086/","rejectUnauthorized":false},{"id":"544a35ca.82bdbc","type":"mqtt-broker","name":"broker.x99.fr","broker":"172.18.0.14","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f0fe03f1.28cb6","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"nodered","name":"","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"1ed2b814.fe29c8","type":"influxdb","z":"821ed147.a04a9","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries","influxdbVersion":"1.x"},{"id":"d4ccd3f.22375b","type":"inject","z":"117f088e.84eb97","name":"mymath","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["20e61aab.32847e"]]},{"id":"e22b91f3.eb5b38","type":"function","z":"117f088e.84eb97","name":"sine + rand","func":"function randn_bm() {\n    let min=-1, max=1\n    let u = 0, v = 0;\n    while(u === 0) u = Math.random(); //Converting [0,1) to (0,1)\n    while(v === 0) v = Math.random();\n    let num = Math.sqrt( -2.0 * Math.log( u ) ) * Math.cos( 2.0 * Math.PI * v );\n\n    num = num / 10.0 + 0.5; // Translate to 0 -> 1\n    if (num > 1 || num < 0) num = randn_bm(min, max, skew); // resample between 0 and 1 if out of range\n    //num = Math.pow(num, skew); // Skew\n    num *= max - min; // Stretch to fill range\n    num += min; // offset to min\n    return num;\n}\n\nvar d = Math.sin(Math.PI/2);\nvar s = 0.1\nvar noise = randn_bm(s) * 0.5;\nvar freq = 1/60;\nvar t = msg.payload;\nmsg.measurement=\"Flow_Cir_1\";\nmsg.payload =  {\n    value: Math.sin(2*Math.PI * freq * t ) + noise,\n    value_min: 0,\n    value_max:100\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":240,"wires":[["93154639.c76a3","080f189742c3d69d"]]},{"id":"93154639.c76a3","type":"debug","z":"117f088e.84eb97","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":120,"wires":[]},{"id":"20e61aab.32847e","type":"function","z":"117f088e.84eb97","name":"ts to sec","func":"var sec = new Date(msg.payload).getSeconds();\nmsg.payload = sec;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":60,"wires":[["e22b91f3.eb5b38"]]},{"id":"080f189742c3d69d","type":"influxdb out","z":"117f088e.84eb97","influxdb":"cd5463d1.62eb78","name":"","measurement":"","precision":"","retentionPolicy":"","database":"some-bucket","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organization","bucket":"a","x":570,"y":260,"wires":[]},{"id":"3d43f4f9.77f9cc","type":"mqtt in","z":"821ed147.a04a9","name":"sensors/home/workshop/BMP085","topic":"sensors/home/workshop/BMP085","qos":"2","datatype":"json","broker":"544a35ca.82bdbc","inputs":0,"x":160,"y":140,"wires":[["92bba980.922ad8","2c7681a0.8eccde"]]},{"id":"2c7681a0.8eccde","type":"debug","z":"821ed147.a04a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":140,"wires":[]},{"id":"2d0c5747.04bf28","type":"influxdb out","z":"821ed147.a04a9","influxdb":"f0fe03f1.28cb6","name":"workshop-BMP085","measurement":"workshop-BMP085","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":570,"y":240,"wires":[]},{"id":"92bba980.922ad8","type":"function","z":"821ed147.a04a9","name":"Formatting","func":"var data = {\n    temp: msg.payload.temp,\n    press: msg.payload.press,\n    alt: msg.payload.alt,\n    SLP: msg.payload.SLP,\n    RA: msg.payload.RA\n}\nmsg.payload = data\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":240,"wires":[["2d0c5747.04bf28","c3b1779b.ea8c38"]]},{"id":"c3b1779b.ea8c38","type":"debug","z":"821ed147.a04a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":360,"wires":[]},{"id":"64c2e370.049afc","type":"inject","z":"821ed147.a04a9","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":180,"y":660,"wires":[["6c6bf02d.8ac09"]]},{"id":"6c6bf02d.8ac09","type":"function","z":"821ed147.a04a9","name":"Fields","func":"msg.payload = {\n    numValue: 123.0,\n    strValue: \"message\",\n    randomValue: Math.random()*10\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":328,"y":660,"wires":[["54de52b9.99ad0c"]]},{"id":"54de52b9.99ad0c","type":"influxdb out","z":"821ed147.a04a9","influxdb":"1ed2b814.fe29c8","name":"","measurement":"test","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":498,"y":660,"wires":[]}]