nodered-data/.flows.json.backup
[{"id":"117f088e.84eb97","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"78f91524ad5c5f5b","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"821ed147.a04a9","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"f12f6f56.44f4d","type":"tab","label":"CSV Range Forum","disabled":false,"info":""},{"id":"44e00abd40e88a22","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"4dd0f326.b84a24","type":"influxdb","hostname":"127.0.0.1","port":"12447","protocol":"http","database":"firstdb","name":"influx host","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influx-qbee:8086","rejectUnauthorized":true},{"id":"cd5463d1.62eb78","type":"influxdb","hostname":"influx","port":"8086","protocol":"http","database":"firstdb","name":"influx docker","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influx-spc:8086/","rejectUnauthorized":false},{"id":"544a35ca.82bdbc","type":"mqtt-broker","name":"broker.x99.fr","broker":"172.18.0.14","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f0fe03f1.28cb6","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"nodered","name":"","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"1ed2b814.fe29c8","type":"influxdb","z":"821ed147.a04a9","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries","influxdbVersion":"1.x"},{"id":"eeb221fb.ab27f","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"test","name":"test","usetls":true,"tls":"d50d0c9f.31e858","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"92192c23.a0c2c","type":"influxdb","hostname":"192.168.2.185","port":"8086","protocol":"http","database":"luchtdruk","name":"Luchtdruk","usetls":false,"tls":"1e7c3760.240cb9","influxdbVersion":"1.x","url":"192.168.2.185:8086","rejectUnauthorized":false},{"id":"1e7c3760.240cb9","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"cb216faf.d9136","type":"mqtt-broker","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a287832d821a5490","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"2.0","url":"https://localhost:9999","rejectUnauthorized":false},{"id":"d4ccd3f.22375b","type":"inject","z":"117f088e.84eb97","name":"mymath","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":260,"wires":[["20e61aab.32847e"]]},{"id":"e22b91f3.eb5b38","type":"function","z":"117f088e.84eb97","name":"measurements","func":"\n\nvar mediciones = []\n\nvar Grupos = [\"Lubrificador\", \"Instalaciones\", \"Temperatura Horno/Cuba/Pieza\"]\n\nGrupos.forEach(grupo =>{\n    let medicion = {\n        timestamp: new Date(),\n        measurement: grupo,\n        tags: {\n            molde: 'MT201',\n            medicion: 'Flow_Cir_1'\n        },\n        fields: {\n            value: Math.random()\n         }\n    }\n    mediciones.push(medicion);\n})\n\n\nmsg.payload = mediciones;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":380,"wires":[["93154639.c76a3","efc77233e7e83d23","c0526a4ea5887b17"]]},{"id":"93154639.c76a3","type":"debug","z":"117f088e.84eb97","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":300,"wires":[]},{"id":"20e61aab.32847e","type":"function","z":"117f088e.84eb97","name":"ts to sec","func":"var sec = new Date(msg.payload).getSeconds();\nmsg.payload = sec;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":200,"wires":[["e22b91f3.eb5b38"]]},{"id":"241decd1d9b6d521","type":"influxdb in","z":"117f088e.84eb97","influxdb":"cd5463d1.62eb78","name":"","query":"from(bucket: \"some-bucket\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r._measurement == \"Lubrificador\")\n  |> filter(fn: (r) => r.molde == \"MT201\")\n  |> filter(fn: (r) => r.medicion == \"Flow_Cir_1\" and (r._field == \"value\" or r._field == \"_time\"))\n  |> pivot(rowKey:[\"_time\"], columnKey:[\"_field\"], valueColumn:\"_value\")\n  |> drop(columns:[\"_value\", \"value_min\", \"value_max\", \"_start\", \"_stop\"])\n  \n","rawOutput":false,"precision":"","retentionPolicy":"","org":"cie","x":430,"y":600,"wires":[["758df024a14233f5"]]},{"id":"7ea635dd23560644","type":"inject","z":"117f088e.84eb97","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"28800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":600,"wires":[["241decd1d9b6d521"]]},{"id":"758df024a14233f5","type":"csv","z":"117f088e.84eb97","name":"","sep":",","hdrin":false,"hdrout":"all","multi":"one","ret":"\\n","temp":"_time, _measurement, value","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":690,"y":600,"wires":[["05278a733846de51"]]},{"id":"9021cf24bed56552","type":"debug","z":"117f088e.84eb97","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":540,"wires":[]},{"id":"05278a733846de51","type":"file","z":"117f088e.84eb97","name":"","filename":"./datasets/spcdata.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":920,"y":540,"wires":[["9021cf24bed56552"]]},{"id":"efc77233e7e83d23","type":"influxdb batch","z":"117f088e.84eb97","influxdb":"cd5463d1.62eb78","precision":"","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"cie","bucket":"some-bucket","x":610,"y":400,"wires":[]},{"id":"c0526a4ea5887b17","type":"uib-sender","z":"117f088e.84eb97","url":"navbar","name":"","topic":"","passthrough":true,"return":false,"outputs":1,"x":590,"y":240,"wires":[[]]},{"id":"df81cc9e.a9171","type":"inject","z":"117f088e.84eb97","name":"repeat every 10s","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1050,"y":120,"wires":[["6ca36476.d0597c"]]},{"id":"76678044.5aaeb","type":"debug","z":"117f088e.84eb97","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":100,"wires":[]},{"id":"bd9b5761.fb4918","type":"debug","z":"117f088e.84eb97","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1650,"y":140,"wires":[]},{"id":"b18a50dd.f7e5c","type":"uibuilder","z":"117f088e.84eb97","name":"","topic":"","url":"vue-file","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"templateFolder":"vue-simple","extTemplate":"","showfolder":true,"reload":false,"sourceFolder":"src","deployedVersion":"5.0.2","x":1420,"y":120,"wires":[["76678044.5aaeb"],["bd9b5761.fb4918"]]},{"id":"6ca36476.d0597c","type":"change","z":"117f088e.84eb97","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"greeting\":\"Goodness aaaa me\",\"who\":\"little fishy\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":120,"wires":[["b18a50dd.f7e5c"]]},{"id":"3ebfbce9.6ccd84","type":"comment","z":"117f088e.84eb97","name":"index.html","info":"copy the following and paste into `index.html`\n\n```html\n<!doctype html><html lang=\"en\"><head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes\">\n\n    <title>http-vue-loader/VueJS Example - Node-RED UI Builder</title>\n    <meta name=\"description\" content=\"Node-RED UI Builder - http-vue-loader/VueJS Example\">\n\n    <link rel=\"icon\" href=\"./images/node-blue.ico\">\n\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"../uibuilder/vendor/bootstrap/dist/css/bootstrap.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.css\" />\n\n    <link rel=\"stylesheet\" href=\"./index.css\" media=\"all\">\n</head><body>\n    <div id=\"app\">\n        <b-container id=\"app_container\">\n\n            <h1>\n                Example of loading a .vue file\n            </h1>\n\n            <p>\n                Uses <a href=\"https://github.com/FranckFreiburger/http-vue-loader#readme\" target=\"_blank\">http-vue-loader</a>\n                in order to avoid a build step. Also see the\n                <a href=\"https://vuejs.org/v2/guide/single-file-components.html\" target=\"_blank\">Vue documentation on single file components</a>.\n            </p>\n            <p>\n                This example uses a custom VueJS component called &lt;my-component&gt; which is defined in the file <code>my-compontent.vue</code>.\n            </p>\n            <p>\n                The custom component has two \"props\" (properties) that allow you to send data to it. These override the default greeting and name.\n                By passing <code>msg.payload.greeting</code> and/or <code>msg.payload.who</code> in the msg from Node-RED, you will see the text\n                change on-screen dynamically.\n            </p>\n\n            <my-component :greeting=\"myGreeting\" :who=\"myWho\">\n                <p>This text goes into the &lt;slot&gt; tags in the component. try removing this from index.html to see the default text.</p>\n            </my-component>\n\n        </b-container>\n    </div>\n\n    <script src=\"../uibuilder/vendor/socket.io/socket.io.js\"></script>\n    <!-- Use vue.min.js for production use -->\n    <script src=\"../uibuilder/vendor/vue/dist/vue.js\"></script>\n    <script src=\"../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.js\"></script>\n\n    <!-- Loading from CDN -->\n    <script src=\"https://unpkg.com/http-vue-loader\"></script>\n    <!-- Loading from npm installed version -->\n    <!-- <script src=\"../uibuilder/vendor/http-vue-loader/src/httpVueLoader.js\"></script> -->\n\n    <script src=\"./uibuilderfe.min.js\"></script> <!--    //prod version -->\n    <script src=\"./index.js\"></script>\n\n</body></html>\n```","x":140,"y":60,"wires":[]},{"id":"7254bbb9.903ce4","type":"comment","z":"117f088e.84eb97","name":"index.js","info":"Copy the following and paste into `index.js`\n\n```javascript\n/* jshint browser: true, esversion: 5 */\n/* globals document,Vue,window,uibuilder,httpVueLoader */\n// @ts-nocheck\n/*\n  Copyright (c) 2019 Julian Knight (Totally Information)\n\n  Licensed under the Apache License, Version 2.0 (the \"License\");\n  you may not use this file except in compliance with the License.\n  You may obtain a copy of the License at\n\n  http://www.apache.org/licenses/LICENSE-2.0\n\n  Unless required by applicable law or agreed to in writing, software\n  distributed under the License is distributed on an \"AS IS\" BASIS,\n  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n  See the License for the specific language governing permissions and\n  limitations under the License.\n*/\n'use strict'\n\n/** @see https://github.com/TotallyInformation/node-red-contrib-uibuilder/wiki/Front-End-Library---available-properties-and-methods */\n\n// eslint-disable-next-line no-unused-vars\nvar app1 = new Vue({\n    el: '#app',\n\n    /** Load external component files\n     *  Make sure there is no leading / in the name\n     *  To load from the common folder use like: 'common/component-name.vue' */\n    components: {\n        'my-component': httpVueLoader('my-component.vue'),\n    }, // --- End of components --- //\n\n    data: {\n        myGreeting: 'Hi there',\n        myWho: 'oh wise one!',\n    }, // --- End of data --- //\n\n    computed: {\n    }, // --- End of computed --- //\n\n    methods: {\n    }, // --- End of methods --- //\n\n    // Available hooks: init,mounted,updated,destroyed\n    mounted: function(){\n        /** **REQUIRED** Start uibuilder comms with Node-RED @since v2.0.0-dev3\n         * Pass the namespace and ioPath variables if hosting page is not in the instance root folder\n         * e.g. If you get continual `uibuilderfe:ioSetup: SOCKET CONNECT ERROR` error messages.\n         * e.g. uibuilder.start('/nr/uib', '/nr/uibuilder/vendor/socket.io') // change to use your paths/names\n         */\n        uibuilder.start()\n\n        var vueApp = this\n\n        // Process new messages from Node-RED\n        uibuilder.onChange('msg', function (msg) {\n            // We are assuming that msg.payload is an number between zero and 10\n\n            // Change value\n            if (msg.payload.hasOwnProperty('greeting')) vueApp.myGreeting = msg.payload.greeting\n            if (msg.payload.hasOwnProperty('who')) vueApp.myWho = msg.payload.who\n\n            //console.log(msg)\n        })\n\n    } // --- End of mounted hook --- //\n\n}) // --- End of app1 --- //\n\n// EOF\n```\n","x":270,"y":60,"wires":[]},{"id":"4f7ddf94.c4dde","type":"comment","z":"117f088e.84eb97","name":"my-component.vue","info":"Copy the following and paste into `my-component.vue`\n\n```\n<template>\n    <b-row>\n        <b-col class=\"hello\" cols=\"12\">\n            {{greeting}} {{who}}\n        </b-col>\n        <slot>\n            Default slot content, replace with your own text between the component tags.\n            See the <a href=\"https://vuejs.org/v2/guide/components-slots.html\" target=\"_blank\">VueJS documentation for slots</a> for more information.\n        </slot>\n    </b-row>\n</template>\n\n<script>\nmodule.exports = {\n    /** Allow greeting and who to be passed as parameters but provide defaults\n     * @see https://vuejs.org/v2/guide/components-props.html#Prop-Validation\n     */\n    props: {\n        'greeting': {type: String, default: 'Hello'},\n         'who': {type: String, default: 'World'},\n    },\n\n    /** Any data must be wrapped in a fn to isolate it in case this component is used multiple times */\n    data: function() { return {\n\n    }}\n}\n</script>\n\n<style scoped>\n.hello {\n    background-color: #ffe;\n    font-size: 2rem;\n    text-align: center;\n}\n</style>\n```\n","x":430,"y":60,"wires":[]},{"id":"d8fc3df399de6e53","type":"uibuilder","z":"117f088e.84eb97","name":"","topic":"","url":"navbar","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"templateFolder":"external","extTemplate":"unborn-andy/uib-template-vue-navbar","showfolder":false,"reload":false,"sourceFolder":"dist","deployedVersion":"5.0.2","x":800,"y":120,"wires":[[],[]]},{"id":"7d6c36094705e87d","type":"create dataset","z":"117f088e.84eb97","name":"dataset","path":"./datasets/spcdata.csv","saveFolder":"./datasets","saveName":"datasettest","input":"","output":"","trainingPartition":"80","shuffle":true,"seed":"1","x":700,"y":740,"wires":[["fc5b32e9af79fe9a"]]},{"id":"86a363f1c622f751","type":"inject","z":"117f088e.84eb97","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":740,"wires":[["7d6c36094705e87d"]]},{"id":"0e8fdcb0285b566e","type":"comment","z":"117f088e.84eb97","name":"WEB CLIENT TEST","info":"","x":1050,"y":60,"wires":[]},{"id":"18a2ebada7db7b07","type":"comment","z":"117f088e.84eb97","name":"OBTENER DATOS + BDD","info":"","x":430,"y":140,"wires":[]},{"id":"acb5d7f7c58aeaad","type":"comment","z":"117f088e.84eb97","name":"MACHINE LEARNING","info":"","x":880,"y":480,"wires":[]},{"id":"fc5b32e9af79fe9a","type":"debug","z":"117f088e.84eb97","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":740,"wires":[]},{"id":"5aabc0030e488556","type":"load dataset","z":"117f088e.84eb97","name":"mediciones","datasetFolder":"./datasets","datasetName":"datasettest","partition":"train.csv","input":true,"output":true,"x":650,"y":840,"wires":[["d0b7f664307a0798"],[]]},{"id":"4ef0c6111f737ef7","type":"inject","z":"117f088e.84eb97","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":840,"wires":[["5aabc0030e488556"]]},{"id":"d0b7f664307a0798","type":"random forest classifier","z":"117f088e.84eb97","name":"","savePath":"./models","saveName":"modeltree","criterion":"gini","numTrees":"10","maxDepth":"","x":930,"y":820,"wires":[["7a7352ca242172aa"],[]]},{"id":"7a7352ca242172aa","type":"debug","z":"117f088e.84eb97","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":800,"wires":[]},{"id":"9d9141a6.1b19d","type":"influxdb in","z":"f12f6f56.44f4d","influxdb":"92192c23.a0c2c","name":"Read from InfluxDB","query":"SELECT \"time\",\"luchtdruk\" FROM \"luchtdruk\" WHERE time > now() - 1h","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":310,"y":80,"wires":[["63535a51.f1eac4"]]},{"id":"fc96823.e15978","type":"inject","z":"f12f6f56.44f4d","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["9d9141a6.1b19d"]]},{"id":"9bbfcc1.a59393","type":"debug","z":"f12f6f56.44f4d","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":80,"wires":[]},{"id":"63535a51.f1eac4","type":"csv","z":"f12f6f56.44f4d","name":"Generate CSV","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"time,luchtdruk","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":520,"y":80,"wires":[["9bbfcc1.a59393"]]},{"id":"2cd8ba30b950b5c8","type":"create dataset","z":"44e00abd40e88a22","name":"","path":"test/iris.data","saveFolder":"test/datasets","saveName":"iris","input":"0,1,2,3","output":"4","trainingPartition":"","shuffle":true,"seed":"","x":480,"y":120,"wires":[["c4ab6972373ac643"]]},{"id":"da4a9c7319c14b6a","type":"load dataset","z":"44e00abd40e88a22","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"train.csv","input":true,"output":true,"x":430,"y":240,"wires":[["56c6aa99a8265176"],["5e91711b10fb0748"]]},{"id":"95d1aade0e3c78ee","type":"inject","z":"44e00abd40e88a22","name":"start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":120,"wires":[["2cd8ba30b950b5c8"]]},{"id":"258f7b67621c69d8","type":"inject","z":"44e00abd40e88a22","name":"start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":240,"wires":[["da4a9c7319c14b6a"]]},{"id":"ecaa637ce623ed15","type":"inject","z":"44e00abd40e88a22","name":"start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":480,"wires":[["305d69b4354b74ac","68f8f206c04b5644"]]},{"id":"c4ab6972373ac643","type":"debug","z":"44e00abd40e88a22","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":120,"wires":[]},{"id":"5e91711b10fb0748","type":"debug","z":"44e00abd40e88a22","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":280,"wires":[]},{"id":"ec33e50bcf983127","type":"debug","z":"44e00abd40e88a22","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":200,"wires":[]},{"id":"e998813ac4d7fd5b","type":"predictor","z":"44e00abd40e88a22","name":"decision tree classifier predictor","modelPath":"test/models","modelName":"dtc.b","x":690,"y":460,"wires":[["5ef75a04089b8670"],["d0ed1547f49e83b8"]]},{"id":"56c6aa99a8265176","type":"decision tree classifier","z":"44e00abd40e88a22","name":"decision tree classifier trainer","savePath":"test/models","saveName":"dtc.b","maxDepth":"","criterion":"gini","splitter":"best","x":680,"y":240,"wires":[["ec33e50bcf983127"],["5e91711b10fb0748"]]},{"id":"5ef75a04089b8670","type":"assessment","z":"44e00abd40e88a22","name":"","score":"accuracy_score","x":730,"y":400,"wires":[["8f438bdc75853439"],["d0ed1547f49e83b8"]]},{"id":"305d69b4354b74ac","type":"load dataset","z":"44e00abd40e88a22","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"test.csv","input":false,"output":true,"x":430,"y":400,"wires":[["5ef75a04089b8670"],["d0ed1547f49e83b8"]]},{"id":"68f8f206c04b5644","type":"load dataset","z":"44e00abd40e88a22","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"test.csv","input":true,"output":false,"x":430,"y":520,"wires":[["e998813ac4d7fd5b"],["d0ed1547f49e83b8"]]},{"id":"d0ed1547f49e83b8","type":"debug","z":"44e00abd40e88a22","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":520,"wires":[]},{"id":"8f438bdc75853439","type":"debug","z":"44e00abd40e88a22","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":400,"wires":[]},{"id":"d43a462504223106","type":"predictor","z":"44e00abd40e88a22","name":"decision tree classifier predictor","modelPath":"test/models","modelName":"dtc.b","x":590,"y":620,"wires":[["d5551caf1d27e515"],["a6bd219293a5fe66"]]},{"id":"d5551caf1d27e515","type":"mqtt out","z":"44e00abd40e88a22","name":"","topic":"predictions","qos":"","retain":"","broker":"cb216faf.d9136","x":870,"y":580,"wires":[]},{"id":"a6bd219293a5fe66","type":"debug","z":"44e00abd40e88a22","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":660,"wires":[]},{"id":"153a3fefb2c9fa96","type":"mqtt in","z":"44e00abd40e88a22","name":"","topic":"classification","qos":"2","broker":"cb216faf.d9136","inputs":0,"x":280,"y":620,"wires":[["d43a462504223106"]]}]